/* 40$ Styling */

body {
    font-size: 1.4rem;
}

small {
    font-size: 112%;
}

sub,
sup {
    font-size: 105%;
}

pre,
code,
kbd,
samp {
    font-size: 1.4rem;
}

input,
button,
select,
optgroup,
textarea {
    font-size: inherit;
}

legend {
    font-size: 2.1rem;
}

h1,
.h1 {
    font-size: 3.15rem;
}

h2,
.h2 {
    font-size: 2.625rem;
}

h3,
.h3 {
    font-size: 2.1rem;
}

h4,
.h4 {
    font-size: 1.75rem;
}

h5,
.h5 {
    font-size: 1.575rem;
}

h6,
.h6 {
    font-size: 1.4rem;
}

.lead {
    font-size: 2.1rem;
}

.display-1 {
    font-size: 8.4rem;
}

.display-2 {
    font-size: 7.7rem;
}

.display-3 {
    font-size: 5.6rem;
}

.display-4 {
    font-size: 4.9rem;
}

small,
.small {
    font-size: 112%;
}

.initialism {
    font-size: 126%;
}

.blockquote {
    font-size: 1.75rem;
}

.blockquote-footer {
    font-size: 112%;
}

.figure-caption {
    font-size: 126%;
}

code {
    font-size: 122.5%;
}

kbd {
    font-size: 122.5%;
}

kbd kbd {
    font-size: 140%;
}

pre {
    font-size: 122.5%;
}

pre code {
    font-size: inherit;
}

.form-control {
    font-size: 1.4rem;
}

.col-form-label {
    font-size: inherit;
}

.col-form-label-lg {
    font-size: 1.4rem;
}

.col-form-label-sm {
    font-size: 1.175rem;
}

.form-control-plaintext {
    font-size: 1.4rem;
}

.form-control-sm {
    font-size: 1.175rem;
}

.form-control-lg {
    font-size: 1.4rem;
}

.valid-feedback {
    font-size: 1.175rem;
}

.valid-tooltip {
    font-size: 1.175rem;
}

.invalid-feedback {
    font-size: 1.175rem;
}

.invalid-tooltip {
    font-size: 1.175rem;
}

.btn {
    font-size: 1.4rem;
}

.btn-lg,
.btn-group-lg>.btn {
    font-size: 1.4rem;
}

.btn-sm,
.btn-group-sm>.btn {
    font-size: 1.175rem;
}

.dropdown-menu {
    font-size: 1.4rem;
}

.dropdown-header {
    font-size: 1.175rem;
}

.input-group-text {
    font-size: 1.4rem;
}

.input-group-lg>.form-control,
.input-group-lg>.custom-select,
.input-group-lg>.input-group-prepend>.input-group-text,
.input-group-lg>.input-group-append>.input-group-text,
.input-group-lg>.input-group-prepend>.btn,
.input-group-lg>.input-group-append>.btn {
    font-size: 1.4rem;
}

.input-group-sm>.form-control,
.input-group-sm>.custom-select,
.input-group-sm>.input-group-prepend>.input-group-text,
.input-group-sm>.input-group-append>.input-group-text,
.input-group-sm>.input-group-prepend>.btn,
.input-group-sm>.input-group-append>.btn {
    font-size: 1.175rem;
}

.custom-select {
    font-size: 1.4rem;
}

.custom-select-sm {
    font-size: 1.175rem;
}

.custom-select-lg {
    font-size: 1.4rem;
}

.pagination-lg .page-link {
    font-size: 1.575rem;
}

.pagination-sm .page-link {
    font-size: 1.175rem;
}

.badge {
    font-size: 105%;
}

.progress {
    font-size: 1.4rem;
}

.close {
    font-size: 2.1rem;
}

.toast {
    font-size: 1.175rem;
}

.tooltip {
    font-size: 1.175rem;
}

.popover {
    font-size: 1.175rem;
}

.popover-header {
    font-size: 1.4rem;
}

html {
    font-size: 22.4px;
}

.story p,
p.story {
    font-size: 1.575rem;
}

.font-size-h1 {
    font-size: 3.15rem;
}

.font-size-h2 {
    font-size: 2.625rem;
}

.font-size-h3 {
    font-size: 2.1rem;
}

.font-size-h4 {
    font-size: 1.75rem;
}

.font-size-h5 {
    font-size: 1.575rem;
}

.font-size-h6 {
    font-size: 1.4rem;
}

.display-2 {
    font-size: 5.133333rem;
}

.display-3 {
    font-size: 4.2rem;
}

.display-4 {
    font-size: 3.266667rem;
}

h1,
.h1,
.font-size-h1 {
    font-size: 2.625rem;
}

h2,
.h2,
.font-size-h2 {
    font-size: 2.1rem;
}

h3,
.h3,
.font-size-h3 {
    font-size: 1.75rem;
}

h4,
.h4,
.font-size-h4 {
    font-size: 1.575rem;
}

h5,
.h5,
.font-size-h5,
h6,
.h6,
.font-size-h6 {
    font-size: 1.4rem;
}

.content-heading {
    font-size: 1.175rem;
}

.content-heading small {
    font-size: 1.175rem;
}

.table thead th {
    font-size: 1.175rem;
}

.nav-tabs-block .nav-link {
    font-size: 1.175rem;
}

.nav-tabs-alt .nav-link {
    font-size: 1.175rem;
}

.breadcrumb.breadcrumb-alt .breadcrumb-item {
    font-size: 1.175rem;
}

.breadcrumb.breadcrumb-alt .breadcrumb-item+.breadcrumb-item::before {
    font-size: 1.175rem;
}

.block-title {
    font-size: 1.175rem;
}

.block-title small {
    font-size: 1.175rem;
}

.block.block-mode-loading::after {
    font-size: 1.575rem;
}

.nav-main-heading {
    font-size: 1.05rem;
}

.nav-main-link {
    font-size: 1.175rem;
}

.nav-main-link .nav-main-link-badge {
    font-size: 1.05rem;
}

.nav-main-link.nav-main-link-submenu::before {
    font-size: 1.05rem;
}

.nav-main-submenu .nav-main-link {
    font-size: 1.09375rem;
}

.font-size-base {
    font-size: 1.4rem !important;
}

.font-size-lg {
    font-size: 1.75rem !important;
}

.font-size-sm {
    font-size: 1.175rem !important;
}

.fa-lg {
    font-size: 1.866667rem;
}

.fa-xs {
    font-size: 1.05rem;
}

.fa-sm {
    font-size: 1.175rem;
}

.fa-1x {
    font-size: 1.4rem;
}

.fa-2x {
    font-size: 2.8rem;
}

.fa-3x {
    font-size: 4.2rem;
}

.fa-4x {
    font-size: 5.6rem;
}

.fa-5x {
    font-size: 7rem;
}

.fa-6x {
    font-size: 8.4rem;
}

.fa-7x {
    font-size: 9.8rem;
}

.fa-8x {
    font-size: 11.2rem;
}

.fa-9x {
    font-size: 12.6rem;
}

.fa-10x {
    font-size: 14rem;
}

.fa-stack-2x {
    font-size: 2.8rem;
}

.dropzone .dz-message {
    font-size: 1.4rem;
}

.fc-theme-bootstrap .fc-col-header-cell {
    font-size: 1.175rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: 1.175rem;
}

.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
    font-size: 39.2px;
}

#page-container.rtl-support .nav-main-link .nav-main-link-badge {
    font-size: 1.05rem;
}
